* {
	margin: 0;
	padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300;400;500&display=swap');

body {
	height: 800px;
	
}

#cabecalho{
	padding: 150px;
	background-image: url('../media/images/Loading_screen_Darkest_Dungeon.webp');
	background-color: black;
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
}
#titulo{
	color: rgb(255, 255, 255);
	font-size: 40px;
	text-shadow: 3px 3px black;
	text-align: center;
	font-family: 'Gothic A1', sans-serif;
}

#descricao-geral{
/* 	border: 1px solid black; */
	margin-right: 35px;
	padding: 15px;
	align-content: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
	color: whitesmoke;
	font-size: 20px;
	text-shadow: 1px 1px #660000;
	text-align: center;
	font-family: 'Gothic A1', sans-serif;
}
#classes{
	background: #d2d2c1 url('../media/images/background.jpg');
	background-color: black;
	background-position-x: center;
	background-repeat: no-repeat;
	background-size: auto;
	Overflow: hidden;
	height: 100%;
    display: flex;
    flex-direction: row;
	justify-content: space-around;
    align-items: space-around;
/* 	border: 1px solid black; */
}
#img-1{
	height: auto;
	width: auto;
	padding-top: 100px;
/* 	border: 1px solid black; */
}
#img-2{
	height: auto;
	width: auto;
	padding-top: 100px;
/* 	border: 1px solid black; */
}
#botao-proximo{
	margin-top: 60px;
	background-color: #660000;
	border: none;
	color: rgb(216, 212, 212);
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 24px;
	border-radius: 3000px;
}
#botao-proximo img{
	width: 80px;
	height: 80px;
	align-content: center;
}
#classe{
	color: whitesmoke;
	font-size: 50px;
	font-style: inherit;
	
}
#descricao{
	padding-top: 30px;
	font-style: italic;
}
.btn{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin: 50px;
	font-weight: bold;
	font-size: 30px;
	border: none;
	border-radius: 1000px;
	color: #000;
	transition: all 0.5s ease-in-out 0s;
	box-shadow: inset 0 0 20px #000;
}
.btn:hover{
	background: transparent;
	color: #660000;
	transform: scale(1.2)rotate(360deg);
	box-shadow: 0 0 60px #660000;
	cursor: pointer;
	border: 2px solid #00ffcb;
}


.descricao-interna{
	width: 100%;
	justify-content: space-around;
    align-items: space-around;
}

.footer{
	background-color: black;
	color: whitesmoke;
	font-size: 20px;
	text-shadow: 1px 1px #660000;
	text-align: center;
	font-family: 'Gothic A1', sans-serif;
}